body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.profileName {
  width: 100%;
  position: absolute;
  top: 160px;
  text-align: center;
}

.aboutMeTitle {
  color: #ffffff;
  text-align: center;
}

.parallaxImage {
  background: linear-gradient(black, rgba(0, 0, 0, 0.1))
}

/*****************************
SKILLS SECTION
*****************************/
#skills {
  height: 100%
}

.skills {
  position: relative;
  bottom: 485px;
  margin-bottom: -515px;
  left: 0;
  color: #fff;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#staggered-test li {
  opacity: 0;
}


/*****************************
ARROWS
*****************************/

.arrow {
  position: relative;
  width: 100%;
  border-radius: 2px;
  height: 1em;
  background-color: rgba(58, 166, 208, 0.5);
}

.arrow-status {
  text-align: right;
  padding-right: .5em;
  background-color: #3aa6d0;
  border-color: white;
  border-right: .5em solid adjust-lightness(#3aa6d0, 20);
  width: 0%;
  color: white;
  height: 100%;
  line-height: 1.2em;
  -webkit-animation: width .5s ease-in;
}

.arrow-pointer2 {
  background-color: white;
  display: inline-block;
  width: 1em;
  height: 3em;
  position: relative;
  left: 100%;
  top: -1em;
  margin-left: -2em;
  margin-bottom: -2em;
  border-radius: 0 5px 5px 0;
}

.html {
  width: 100%;
  border-radius: 0px;
}

.css {
  width: 90%;
}

.javascript {
  width: 75%;
}

.node {
  width: 80%;
}

.react {
  width: 50%;
}

.express {
  width: 80%;
}

.mysql {
  width: 60%
}

.folio {
  margin-top: -20px;
}

.gitHub a {
  color: #ffffff
}

.linkedIn a {
  color: #ffffff
}